.application {
  display: flex;
  flex-direction:column;
  width: 50%;
  align-items: center;
  margin:20px 0 20px 0;
  border: 1px solid black;
  padding: 10px 10px 40px 10px;
}
.level:not(:last-child) {
  margin-bottom:0;
}
