$medium: 768px;
@mixin respond-to($media) {
  @if $media == medium-screens {
    @media only screen and (max-width: $medium) { @content; }
  }
}
header {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid black;
  height:60px;
  padding:0 4% 0 4%;
}
.product-name, .mail {
  display: flex;
  font-size:30px;
  @include respond-to(medium-screens) { font-size: 20px; }
}
